---
import Layout from "../layouts/Layout.astro";
import DetailProfile from "../components/DetailProfile.astro";
import History from "../components/History.astro";
---

<Layout>
  <main
    class="min-h-[60vh] flex items-start justify-center py-[4vw] pb-[6vw] bg-[#fcfaf7]"
  >
    <div class="w-full flex flex-col items-center">
      <DetailProfile />
      <History />
    </div>
  </main>
</Layout>
