---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    style="min-height: 60vh; display: flex; align-items: center; justify-content: center;"
  >
    <h1>詳細プロフィールページ</h1>
  </main>
</Layout>
