---
import Layout from "../layouts/Layout.astro";
import DetailProfile from "../components/DetailProfile.astro";
import History from "../components/History.astro";
---

<Layout>
  <main
    style="min-height: 60vh; display: flex; align-items: flex-start; justify-content: center; padding: 4vw 0 6vw 0; background: #fcfaf7;"
  >
    <div
      style="width:100%; display:flex; flex-direction:column; align-items:center;"
    >
      <DetailProfile />
      <History />
    </div>
  </main>
</Layout>
